@using System.Data;
@model AllTransactionViewModel;
@using WebApplication4.Models;

@{
    ViewData["Title"] = "All Transactions";
}

<div class="text-center">    

<a href="/HOME/AllTransactions"><h2 style="text-align:left">Transactions</h2></a>
    
    <div class="container">
     <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Account</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
            <th>View</th>

        </tr>
        </thead>
        @foreach(var item in Model.AllTransactions)
        {
            <tr>
                <td>@item.AccountName</td>
                <td>@item.Amount</td>
                <td>@item.Date</td>
                <td>@item.Type</td>
                <td><button class="btn btn-primary btn-block" onclick="window.location.href='/HOME/TransactionInfo?id=@item.TransactionId'">View details</button></td>
            </tr>
        }
      </table>
      <p>@ViewBag.Message</p>

        <div class="float-container">

          <div class="float-child">
            <div class="green">
                <label><h2>INCOME:</h2></label>
                        @foreach(var item in Model.IncomeLists)
                         {
                            <h3>@item.Income</h3>
                         }
            </div>
          </div>
  
          <div class="float-child">
            <div class="blue">
                <label><h2>EXPENSE:</h2></label>
                @foreach(var item in Model.ExpenseLists)
                {
                     Expense: <h3>@item.Expense</h3>
                }
            </div>
          </div>
  
</div>
  </div>