@using System.Data;
@model TransactionInfoViewModel;
@using WebApplication4.Models;

@{
    ViewData["Title"] = "Transaction Info";
}

<div class="text-center">

        <div class="container">
         <table class="table table-striped">
             <h1>Transaction Info</h1>
            <thead class="thead-dark">
            <tr">
                <th>Account</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
            </thead>

            </tr>
                <tr>
                    <td>@Model.Account_Name</td>
                    <td>@Model.Amount</td>
                    <td>@Model.Date</td>
                    <td>@Model.Type</td>
                </tr>
            
          </table>

          <div class="note">
                <h4>@Model.Note</h4>
            
          </div>
    </div>

</div>




