@using System.Data;
@model TransactionInfoViewModel;
@using WebApplication4.Models;

@{
    ViewData["Title"] = "Transaction Info";
}

<div class="text-center">

        <div class="container">
         <table class="table table-striped">
             <h1>Transaction Info</h1>
            <thead class="thead-dark">
            <tr">
                <th>Account</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
            </thead>

            </tr>
            @foreach(var item in Model.TransactionsInfo)
            {
                <tr>
                    <td>@item.Account_Name</td>
                    <td>@item.Amount</td>
                    <td>@item.Date</td>
                    <td>@item.Type</td>
                </tr>
            }
          </table>

          <div class="note">
            @foreach(var item in Model.TransactionsInfo)
            {
                <h4>@item.Note</h4>
            }
          </div>
    </div>

</div>




